:root {
  /* ### Primary */

  --veryDarkMagenta: hsl(300, 43%, 22%);
  --softpink: hsl(333, 80%, 67%);

  /* ### Neutral */

  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  /* ### Font */
  --Spartan: "Spartan", sans-serif;
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: var(--Spartan);
}
body {
  font-size: 15px;
}
.card {
  width: 23.5rem;
  height: 100%;
  margin: auto;
}
.card .card-content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-row-gap: 20px;
  text-align: center;
  padding: 1.5rem;
}
img {
  border-radius: 50%;
}



 /* --- Header ---  */
 header{
   width: 100%;
 }
header .head-card h1 {
  padding-bottom: 1.5rem;
  width: 95%;
  margin: auto;
  padding-top: 3.5rem;
}
header .head-card p {
  padding-bottom: 1.5rem;
  width: 100%;
  margin: auto;
  line-height: 1.5rem;
  font-size: 0.89rem;
  font-weight: 500;
}

/* --- Main --- */

main {
  width: 100%;
}
main .main-card .card-stars {
  background-color: var(--lightGrayishMagenta);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}


main .main-card .card-stars img{
  margin-right: 0.4rem;
  margin-bottom: 0.5rem;
}
main .main-card .card-stars span{
  
  font-size: 15px;
  font-weight: 700;
  
}

/* --- footer --- */

footer .card-client {
  background-color: var(--veryDarkMagenta);
  padding: 2.5rem 2rem 1rem 2rem;
  margin-top: 0.9rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 15rem;
  color: white;
  text-align: left;
  font-size: 12.7px;
  line-height: 1.5;
}
footer .card-client .card-title{
  display:flex;
  padding-bottom: 2rem;
  color: white;
  align-items: center;
}
footer .card-client .card-title img{
  width: 2.5rem;
  margin-right: 1.5rem;
}
footer .card-client .card-title .card-title-text p {
  display: flex;
  flex-direction: column;
  
}
footer .card-client .card-title .card-title-text span {
 color: var(--darkGrayishMagenta);
  
}










/* -----------------------------------------------------------------------------------------
############################################################################################# */
@media only screen and  (min-width : 1550px) {
 
  .card {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5rem;
  }
  .card .card-content {
    width: 100%;
    padding-left: 10rem;
    padding-top: 3rem;
  }


  .wrap-head-body {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    
  }
  .head-card {
    text-align: left;
    width: 28.8rem;
  }
  .card .card-client {
    width: 100%;
  }
  .card .card-content .head-card h1 {
    font-size: 3rem;
    color: var(--veryDarkMagenta);
    margin-left: 0;
    padding-bottom: 0.6rem;
    
  }
  header {
    width: 53.2rem;

  }
  .head-card p{
    margin: auto;
    padding: 1rem;
    padding-top: 0;
    padding-left: 0;
    font-size: 1.7rem;
  }

  .main-card {
    padding-top: 5rem;
  
  }
  .main-card .card-stars {
    width: 29.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    
  }
  .main-card .card-stars span {
    padding-top: 0;
    padding-left: 2rem;
    font-weight: 700
  }
  .main-card .card-stars .stars-img {
  padding-left: 1rem;
   
    
  }
  .main-card .card-stars:nth-child(2) {
    margin-left: 3rem;
  }
  .main-card .card-stars:nth-child(3) {
    margin-left: 6rem;
  }








  /* ---Footer--- */
  footer {
    gap: 1.8rem;
    display: flex;
    width: 79rem;
    padding-left: 10rem;
  }
  footer #card-client-2 {
    margin-top: 2rem;
  } 
  footer #card-client-3 {
    margin-top: 4rem;
  }
  footer .card-client .card-title .card-title-text .red-span{
    color: var(--softpink);
   
  }
  
}